.mealsList {
  margin: 0.5rem;
  display: flex;
  animation: meals-appear 1s ease-out forwards;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.loader {
  text-align: center;
  margin: 40px;
}

.loader img {
  width: 100px;
}

.error {
  text-align: center;
  margin: 50px;
}

.error p {
  font-size: 25px;
  font-weight: bold;
}

.error img {
  width: 200px;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
