.submitForm {
  background-color: #6b068a41;
  border: 1px solid black;
  border-radius: 14px;
  padding: 10px;
  overflow: auto;
  max-height: 16rem;
}

@media (max-width: 870px) {
  .cart-items {
    font-size: 0.7rem;
  }
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  margin-bottom: 0.3rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 25rem;
  max-width: 100%;
  padding: 5px;
}

@media (max-width: 870px) {
  .control input {
    width: 20rem;
  }
}

@media (max-width: 700px) {
  .control input {
    width: 15rem;
  }
}

@media (max-width: 545px) {
  .control input {
    width: 10rem;
  }
}

.submitAction {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 865px) {
  .submitAction {
    display: flex;
    justify-content: center;
  }
}

.submitAction button {
  font: inherit;
  color: #6b068a;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #6b068a;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.submitAction button:hover,
.submitAction button:active {
  background-color: #ccc;
}

.submitAction button:disabled,
.submitAction button:disabled:hover,
.submitAction button:disabled:active {
  background-color: #ccc;
  color: #6b068aa2;
  border-color: #6b068aa2;
  cursor: not-allowed;
}

.submitAction .submit {
  border: 1px solid #6b068a;
  background-color: #6b068a;
  color: white;
  margin: 10px;
}

.submitAction .submit:hover,
.submitAction .submit:active {
  background-color: #47035d;
  border-color: #47035d;
  color: white;
}

.invalid input {
  border-color: red;
  background-color: #b7b5b54a;
}
